<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Public page</title>
    <link href=
    "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css"
    rel="stylesheet">
</head>

<body>
    <div class="container-fluid" style="margin-top: 25px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1>Public page</h1>
                <p>Nothing interesting here.</p>
            </div>
        </div>
    </div>
</body>
</html>
